$color: darkslategray;

.typography {
    font-size: 25px;
    font-family: "Lucida Console", Courier, monospace;
}

.box {
    background-color: $color;
}

.logo {
   font-size: 40px;
}

.a {
 color:white;
 text-decoration: none;
}